.credit_case_in{
    /*border: #D8D8D8 solid 1px;*/
    border: #E8F1FF solid 5px;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 10px;
    font-family: "Microsoft YaHei" ! important;

}
.credit_case_in .div1{
    background-color: #F2F2F2;
    height: 300px;
    margin: 15px 15px;
    border-radius: 10px 10px 0 0;
    border: #D8D8D8 solid 1px;
    font-size: 16px;
}
.credit_case_in .div1 form ul{
    list-style: none;
}
.credit_case_in .div1 form ul li .form-field {
    border: 1px solid #0099CC;
    background: #FAFAFA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #080501;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:200px;
    font-size: 16px;
}
.credit_case_in .div1 form ul li .form-field:focus {
    background: #fff;
    color: #0d0802;
}
.credit_case_in .div1 form ul li{
    margin: 20px 20px;
    float: left;
}